/*<--------------------------------------------Colors>*/
/*#95ebe0 - light blue
#29d4bd - darker blue
#36454f - main text
#a9bbc6 - light text
#F3F5F6 - light grey*/
/*<///-----------------------------------------Colors>*/

/*<--------------------------------------------Font>*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

body {
    font-family: 'Lato', sans-serif;
}
/*<///-----------------------------------------Font>*/

/*<--------------------------------------------General>*/
/*<---------------------------General - Sections>*/
.background-grey {
    width: 100%;
    background-color: #F3F5F6;
    padding: 0;
}

.background-white {
    width: 100%;
    background-color: #fafafa;
    padding: 0;
}

.container-section {
    width: 90%;
    margin: 0 auto;
}

.container-section-no-padding {
    padding: 0;
}

.content-bubble {
    border: solid 2px #29d4bd;
    background-color: #fff;
    border-radius: 25px;
    text-align: center;
}

.content-bubble-new-post {
    border: solid 3px #29d4bd;
}

.content-bubble-no-border {
    border: none;
    background-color: #fff;
    border-radius: 25px;
    text-align: center;
}

.content-bubble-grey-border {
    border: rgb(169,187,198,0.25) solid 0.5px;
    background-color: #fff;
    border-radius: 25px;
    text-align: center;
}

.content-bubble-text {
    color: #36454f;
    font-size: 1.1em;
    letter-spacing: 0.5px;
    font-weight: 300;
    padding: 0.75em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}

.img-container-circle-sm {
    height: 175px;
    width: 175px;
    border-radius: 50%;
    margin: 0 auto;
}

.img-container-circle-md {
    height: 280px;
    width: 280px;
    border-radius: 50%;
    margin: 0 auto;
}

.img-container-circle-lg {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    margin: 0 auto;
}

.img-container-box-lg {
    height: 500px;
    width: 100%;
    border-radius: 25px;
    margin: 0 auto;
}

/*----------Sections - MQs*/
@media (max-width: 576px) {
    .img-container-circle-lg {
        height: 290px;
        width: 290px;
    }

    .img-container-box-lg {
        height: 400px;
    }
}

@media (min-width: 768px) {
    .container-section-grow-md {
        width: 95%;
    }
}

@media (min-width: 992px) {
    .container-section-shrink-lg {
        width: 85%;
    }
}
/*<///------------------------General - Sections>*/

/*<---------------------------General - Scrollbar>*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #F3F5F6;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(206,212,218,0.8); 
}
/*<///------------------------General - Scrollbar>*/

/*<---------------------------General - Components>*/
.btn-outline-primary {
	border: none;
    background-color: #fff;
    border-radius: 25px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
    background: #95ebe0;
    width: 150px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.btn-outline-primary:hover {
    background: #29d4bd;
}

.btn-outline-primary-large {
	height: 64px;
    border-radius: 32px;
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 48px;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
    background: #29d4bd !important;
}

.form-general-form {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
}

.form-control {
    border: solid 2px #95ebe0;
    letter-spacing: 1.5px;
    transition: none;
}

.form-control-message {
    height: 50vh;
}

.form-control:focus {
    border: solid 2.5px #29d4bd;
    box-shadow: none;
}

.form-control::-moz-placeholder {
  color: #a9bbc6;
  text-transform: uppercase;
}
.form-control:-ms-input-placeholder {
  color: #a9bbc6;
  text-transform: uppercase;
}
.form-control::-webkit-input-placeholder {
  color: #a9bbc6;
  text-transform: uppercase;
}

.form-button {
    text-align: center;
}

.form-button:hover {
    border: solid 2.5px #29d4bd;
}


/*----------Components - MQs*/
@media (min-width: 576px) {
    .form-general-form {
        width: 432px;
    }

    .form-control-message {
    height: 25vh;
    }    
}
/*<///------------------------General - Components>*/

/*<---------------------------General - Headings>*/
.h2-title-1 {
    color: #36454f;
    text-transform: uppercase;
    letter-spacing: 7px;
    text-align: center;
    font-size: 2.5em;
    font-weight: 500;
}

.h2-title-border {
    border-top: solid 2px #36454f;
    border-bottom: solid 2px #36454f;
    line-height: 60px;
}

.h3-title-1 {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 1.75em;
    font-weight: 300;
    padding: 0 0.5rem;
    color: #a9bbc6;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.h3-title-2 {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 1.75em;
    padding: 0 0.5rem;
    color: #36454f;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.h3-title-1-border {
    border-top: solid 0.5px #a9bbc6;
    border-bottom: solid 0.5px #a9bbc6;
    line-height: 40px;
}

.h3-title-2-border {
    border-top: solid 0.5px #36454f;
    border-bottom: solid 0.5px #36454f;
    line-height: 40px;
    font-weight: 300;
}

.h4-title-1 {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 300;
    padding: 0 0.5rem;
    color: #a9bbc6;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.h4-title-1-border {
    border-top: solid 0.5px #a9bbc6;
    border-bottom: solid 0.5px #a9bbc6;
    line-height: 30px;
}

.h4-title-2 {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 500;
    padding: 0 0.5rem;
    color: #36454f;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.h4-title-2-border {
    border-top: solid 0.5px #36454f;
    border-bottom: solid 0.5px #36454f;
    line-height: 30px;
}

/*----------Headings - MQs*/
@media (min-width: 768px) {
    .h3-title-sm-shrink {
        font-size: 1.35em;
        height: 100px;
    }
}

@media (min-width: 992px) {
    .h3-title-sm-shrink {
        height: 75px;
    }
}
/*<///------------------------General - Headings>*/

/*<---------------------------General - Navbar>*/
.navbar {
    padding: 5px 10px;
    text-transform: uppercase;
    background-color: #fff;
    font-size: 1.25rem;
    letter-spacing: 2px;
    border-bottom: rgba(169,187,198,0.25) 1px solid;
}

.navbar-light .navbar-toggler {
    border: none;
}

.navbar-light .navbar-toggler:focus {
    outline: none;
}

#navbar-custom-icon {
    font-size: 35px;
    color: #95ebe0;
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

#logo {
    width: 65px;
}

.nav-item {
    padding: 0px 5px;
}

.navbar-light .navbar-nav .nav-link, .dropdown-item, #navbarDropdownMenuLink {
    color: #a9bbc6;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #29d4bd;
}

.dropdown-menu .active {
    color: #29d4bd;
    background-color: rgba(255,255,255,0.01);
}

.dropdown-menu .dropdown-item:hover {
    color: #29d4bd;
    background: rgba(255,255,255,0.01);
}

.dropdown-menu .dropdown-item:focus {
    color: #fff !important;
    background: #29d4bd !important;
}

.navbar-light .navbar-nav .nav-link:hover, #navbarDropdownMenuLink:hover {
    color: #29d4bd;
}

.dropdown-menu {
    min-width: 50px;
}

#social-links-nav {
    margin: 0;
}

#social-links-nav li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
    background: #95ebe0;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#social-links-nav li a i:hover {
    background: #29d4bd;
}

.list-inline-item:not(:last-child) {
    margin-right: 5px;
}
/*<///------------------------General - Navbar>*/

/*<---------------------------General - Hero Image>*/
.container-hero {
    height: 100vh;
    padding: 0;
    overflow: hidden;

    position: relative;
}

.hero-image {
    height: 100vh;
    width: 100%;

    animation-name: hero-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.05);
    }
}

.hero-image-overlay {
    height: 100vh;
    width: 100%;

    background-color: rgba(50, 50, 50, 0.25);

    bottom: 0px;
    right: 0px;

    position: absolute;
}

.hero-image-overlay h1 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 7px;
    text-align: center;
    font-size: 2.5em;
    font-weight: 500;

    top: 40%;

    position: relative;
}


/*----------Hero Image - MQs*/
@media (min-width: 576px) {
    .container-hero, .hero-image, .hero-image-overlay {
        height: 80vh;
    }

    .hero-image-overlay h1 {
        letter-spacing: 12px;
        font-size: 3em;
    }
}
/*<///------------------------General - Hero Image>*/

/*<---------------------------General - Footer>*/
.container-footer {
    text-transform: uppercase;
    color: #fff;
    background-color: #95ebe0;
    font-size: 1em;
    height: 115px;
    text-align: center;
    letter-spacing: 1px;
}

.container-footer div {
    line-height: 25px;
    padding: 0;
}

#social-links-footer {
    margin: 0;
}

#social-links-footer li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #95ebe0;
    border: solid 1px #95ebe0;
    background: #fff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#social-links-footer li a i:hover {
    color: #fff;
    border: solid 1px #fff;
    background: #95ebe0;
}


/*----------Footer - MQs*/
@media (max-width: 576px) {
    .container-footer {
        font-size: 0.95em;
    }
}

@media (min-width: 576px) {
    .container-footer {
        height: 75px;
    }
}

@media (min-width: 768px) {
    .nav-item {
        padding: 0px 15px;
    }
}

@media (min-width: 992px) {
    .container-footer {
        height: 40px;
    }

    .container-footer div {
        line-height: 40px;
    }
    
    .nav-item {
        padding: 0px 25px;
    }
}
/*<///------------------------General - Footer>*/
/*<///-----------------------------------------General>*/



/*<--------------------------------------------Home>*/
/*---------------------------Home - Hero Image*/
#hero-image-home {
    background: url("./images/hero-image-home.jpg");
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-size: cover;
}

/*---------------------------Home - Calls to Action*/
#home-cta-group-classes-picture {
    object-position: 50% 80%;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

#home-cta-1-2-1-classes-picture {
    object-position: 30% 45%;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

#home-cta-blog-picture {
    object-position: 50% 75%;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

/*---------------------------Home - About*/
#home-about-sarah-picture {
    object-position: 50% 75%;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

#home-about-sarah-picture-2 {
    object-position: 50% 75%;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

/*----------Home - About - MQs*/
@media (min-width: 768px) {
    #content-bubble-text-home-about {
        height: 250px;
    }
}

/*---------------------------Home - Blog Posts*/
#home-blog-picture-1 {
    object-position: 70% 50%;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

#home-blog-picture-2 {
    object-position: 50% 25%;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

#home-blog-picture-3 {
    object-position: 20% 70%;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
/*<///-----------------------------------------Home>*/



/*<--------------------------------------------Book - Group>*/
/*---------------------------Book - Group - Hero Image*/
#hero-image-group {
    background: url("./images/hero-image-group.jpg");
    background-position: 30% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/*---------------------------Book - Group - Timetable*/
.book-group-classes-icons {
    margin: 0;
}

.book-group-classes-icons .list-inline-item i {
    width: 64px;
    height: 64px;
    padding: 14px 0;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    color: #fff;
    background: #95ebe0;
}

#book-group-classes-picture-1 {
    object-position: 50% 80%;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

#book-group-classes-picture-2 {
    object-position: 50% 80%;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

#book-group-classes-picture-3 {
    object-position: 30% 45%;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

#book-group-classes-picture-4 {
    object-position: 50% 75%;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

#book-group-classes-picture-5 {
    object-position: 50% 75%;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

/*----------Book - Group - MQs*/
@media (min-width: 1200px) {
    .book-group-schedule-description {
        width: 500px;
        margin: 0 auto;
    }
}
/*<///-----------------------------------------Book - Group>*/



/*<--------------------------------------------Book - 1-2-1>*/
/*---------------------------Book - 1-2-1 - Hero Image*/
#hero-image-121 {
    background: url("./images/hero-image-121.jpg");
    background-position: 52.5% 35%;
    background-repeat: no-repeat;
    background-size: cover;
}

/*---------------------------Book - 1-2-1 - Testimonials*/
#book-1-2-1-testimonial-picture-1 {
    background: url("./images/home-cta-1.jpg");
    background-position: 50% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}

#book-1-2-1-testimonial-picture-2 {
    background: url("./images/home-cta-2.jpg");
    background-position: 30% 45%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}

#book-1-2-1-testimonial-picture-3 {
    background: url("./images/home-cta-3.jpg");
    background-position: 50% 75%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}

.book-1-2-1-testimonial-text {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}


/*----------Book - 1-2-1 - MQs*/
@media (min-width: 768px) {
    #hero-image-121 {
        background: url("./images/hero-image-121.jpg");
        background-position: 52.5% 60%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .book-1-2-1-testimonial-text {
        height: 250px;
    }
}

@media (min-width: 992px) {
    #hero-image-121 {
        background: url("./images/hero-image-121.jpg");
        background-position: 10% 80%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .book-1-2-1-testimonial-text {
        height: 185px;
    }
}
/*<///-----------------------------------------Book - 1-2-1>*/



/*<--------------------------------------------Blog>*/
/*---------------------------Blog - Hero Image*/
#hero-image-blog {
    background: url("./images/hero-image-blog.jpg");
    background-position: 40% 55%;
    background-repeat: no-repeat;
    background-size: cover;
}

/*---------------------------Blog - Posts*/
#blog-entry-1-picture-1 {
    background: url("./images/blog-entry-1-picture-1.jpg");
    background-position: 20% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}

#blog-entry-1-picture-2 {
    background: url("./images/blog-entry-1-picture-2.jpg");
    background-position: 30% 40%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}

#blog-entry-1-picture-3 {
    background: url("./images/blog-entry-1-picture-3.jpg");
    background-position: 20% 40%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}

#blog-entry-2-picture-1 {
    background: url("./images/blog-entry-2-picture-1.jpg");
    background-position: 0% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    border-radius: 25px;
}

#blog-entry-3-picture-1 {
    background: url("./images/blog-entry-3-picture-1.jpg");
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    border-radius: 25px;
}

#blog-entry-4-picture-1 {
    background: url("./images/blog-entry-4-picture-1.jpg");
    background-position: 15% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    border-radius: 25px;
}

#blog-entry-5-picture-1 {
    background: url("./images/blog-entry-5-picture-1.jpg");
    background-position: 25% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}

#blog-entry-5-picture-2 {
    background: url("./images/blog-entry-5-picture-2.jpg");
    background-position: 0% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}

#blog-entry-5-picture-3 {
    background: url("./images/blog-entry-5-picture-3.jpg");
    background-position: 0% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}

#blog-entry-6-picture-1 {
    background: url("./images/home-about-profile.jpg");
    background-position: 45% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    border-radius: 25px;
}
/*<///-----------------------------------------Blog>*/



/*<--------------------------------------------Contact>*/
/*---------------------------Hero Image & Contact Form*/
#hero-image-contact {
    background: url("./images/hero-image-contact.jpg");
    background-position: 42.5% 55%;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-hero-contact {
    height: 100vh;
    padding: 0;
    overflow: hidden;

    position: relative;
}

.hero-image-contact {
    height: 100vh;
    width: 100%;

    animation-name: hero-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

.hero-image-overlay-contact {
    height: 100vh;
    width: 100%;

    background-color: rgba(50, 50, 50, 0.25);

    bottom: 0px;
    right: 0px;

    position: absolute;
}

.hero-image-overlay-contact h1 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 7px;
    text-align: center;
    font-size: 2.5em;
    font-weight: 500;

    top: 25%;

    position: relative;
}

.form-contact-form {
    top: 25%;

    width: 75%;

    position: relative;
}


/*----------Contact - MQs*/
@media (min-width: 576px) {
    .form-contact-form {
        width: 432px;
    }    
}
/*<///-----------------------------------------Contact>*/