/*--------------------------------------------Colors*/
/*#95ebe0 - light blue
#29d4bd - darker blue
#36454f - main text
#a9bbc6 - light text*/

/*--------------------------------------------General*/
/*---------------------------Hero Image*/
.container-hero {
    height: 100vh;
    width: 100%;
    padding: 0;
    overflow: hidden;

    position: relative;
}

.hero-image {
    height: 100vh;
    width: 100%;

    animation-name: hero-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.05);
    }
}

#hero-image-text {
    height: 100vh;
    width: 100%;

    background-color: rgba(50, 50, 50, 0.25);

    bottom: 0px;
    right: 0px;

    position: absolute;
}

#hero-image-text h2 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

/*---------------------------Text Bubbles*/
.t-b-rectangle-short {
    border: solid 1px black;
    margin: 10px 0px;
    text-align: center;
    height: 100px;
    border-radius: 25px;
}

.t-b-rectangle-long {
    border: solid 1px black;
    margin: 10px 0px;
    text-align: center;
    height: 200px;
    border-radius: 25px;
}
/*--------------------------------------------NavBar*/
.navbar {
    padding: 5px 10px;
    text-transform: uppercase;
    background-color: #fff;
    font-size: 1.25rem;
    letter-spacing: 2px;
}

.navbar-light .navbar-toggler {
    border: none;
}

#navbar-custom-icon {
    font-size: 35px;
    color: #95ebe0;
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

#logo {
    width: 65px;
}

.nav-item {
    padding: 0px 5px;
}

.navbar-light .navbar-nav .nav-link, .dropdown-item, #navbarDropdownMenuLink {
    color: #a9bbc6;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #29d4bd;
}

.navbar-light .navbar-nav .nav-link:hover, #navbarDropdownMenuLink:hover {
    color: #29d4bd;
}

.dropdown-menu {
    min-width: 50px;
}

#social-links-nav {
    margin: 0;
}

#social-links-nav li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
    background: #95ebe0;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#social-links-nav li a i:hover {
    background: #29d4bd;
}

.list-inline-item:not(:last-child) {
    margin-right: 5px;
}

/*--------------------------------------------Home*/
/*---------------------------Hero Image*/
.container-hero #hero-image-home {
    background: url("https://images.unsplash.com/photo-1510024161681-8a1f66ed1a25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80") no-repeat center center;
}

/*---------------------------Calls to Action*/
.container-home-calls-to-action {
    width: 75%;
    border: solid 1px black;
    margin: 10px auto;
}

/*---------------------------About*/
.container-home-about {
    width: 75%;
    border: solid 1px black;
    margin: 10px auto;
}


/*---------------------------Announcements*/
.container-home-announcements {
    width: 75%;
    border: solid 1px black;
    margin: 10px auto;
}


/*--------------------------------------------Book - Group*/
/*---------------------------Hero Image*/

/*---------------------------Calendar*/
.container-book-group-classes {
    width: 75%;
    border: solid 1px black;
    margin: 10px auto;
}
/*---------------------------Announcements*/
.container-book-group-announcements {
    width: 75%;
    border: solid 1px black;
    margin: 10px auto;
}

/*--------------------------------------------Book - 1-2-1*/
/*---------------------------Hero Image*/

/*---------------------------Contact Form*/
.container-book-121-contact {
    width: 75%;
    border: solid 1px black;
    margin: 10px auto;
}
/*---------------------------Announcements*/
.container-book-121-announcements {
    width: 75%;
    border: solid 1px black;
    margin: 10px auto;
}

/*--------------------------------------------Blog*/
/*---------------------------Hero Image*/

/*---------------------------Announcements*/
.container-blog-announcements {
    width: 75%;
    border: solid 1px black;
    margin: 10px auto;
}

/*--------------------------------------------Contact*/
/*---------------------------Contact Form*/
.container-contact-form {
    width: 75%;
    border: solid 1px black;
    margin: 10px auto;
}

/*--------------------------------------------Footer*/
.container-footer {
    text-transform: uppercase;
    color: #fff;
    background-color: #95ebe0;
    font-size: 1rem;
    height: 115px;
    text-align: center;
    letter-spacing: 1px;
}

.container-footer div {
    line-height: 25px;
    padding: 0;
}

#social-links-footer {
    margin: 0;
}

#social-links-footer li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #95ebe0;
    border: solid 1px #95ebe0;
    background: #fff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#social-links-footer li a i:hover {
    color: #fff;
    border: solid 1px #fff;
    background: #95ebe0;
}

/*--------------------------------------------Media Queries*/
@media (min-width: 576px) {
    .container-hero {
        height: 450px;
    }

    .hero-image {
        height: 450px;
    }

    #hero-image-text {
        height: 450px;
    }
    .container-footer {
        height: 75px;
    }
}

@media (min-width: 768px) {
    .container-footer {
        height: 75px;
    }

    .nav-item {
        padding: 0px 15px;
    }
}

@media (min-width: 992px) {
    .container-footer {
        height: 25px;
    }

    .nav-item {
        padding: 0px 25px;
    }
}