/*--------------------------------------------Colors*/
/*#95ebe0 - light blue
#29d4bd - darker blue
#36454f - main text
#a9bbc6 - light text
ced4da - light grey*/

/*--------------------------------------------General*/
/*---------------------------Hero Image*/
.container-hero {
    height: 100vh;
    padding: 0;
    overflow: hidden;

    position: relative;
}

.hero-image {
    height: 100vh;
    width: 100%;

    animation-name: hero-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.05);
    }
}

.hero-image-overlay {
    height: 100vh;
    width: 100%;

    background-color: rgba(50, 50, 50, 0.25);

    bottom: 0px;
    right: 0px;

    position: absolute;
}

.hero-image-overlay h2 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 7px;
    text-align: center;
    font-size: 2.5em;

    top: 30%;

    position: relative;
}

/*---------------------------Hero Image - MQs*/
@media (min-width: 576px) {
    .container-hero, .hero-image, .hero-image-overlay {
        height: 80vh;
    }

    .hero-image-overlay h2 {
        letter-spacing: 12px;
        font-size: 3em;
    }
}

/*---------------------------Content Bubbles*/
.content-bubble {
    border: solid 2px #29d4bd;
    background-color: #fff;
    border-radius: 25px;
    color: #36454f;
    text-align: center;
}

.content-bubble-circle-picture {
    height: 280px;
    width: 280px;
    border-radius: 50%;
    margin: 0 auto;
}

.content-bubble-long-text {
    margin: 0 auto;
}

/*---------------------------Content Bubbles - MQs*/
@media (min-width: 576px) {
    .content-bubble-circle-picture {
            height: 220px;
            width: 220px;
        }
        
    .content-bubble-long-text {
            height: 220px;
    }
}

/*---------------------------Sections*/
.background-grey {
    width: 100%;
    background-color: #F3F5F6;
    padding: 10px 0px;
}

.background-white {
    width: 100%;
    background-color: #fafafa;
    padding: 10px 0px;
}

.container-section {
    width: 90%;
    margin: 0 auto;
}

/*---------------------------Scrollbar*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #F3F5F6;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(206,212,218,0.8); 
}

/*--------------------------------------------NavBar*/
.navbar {
    padding: 5px 10px;
    text-transform: uppercase;
    background-color: #fff;
    font-size: 1.25rem;
    letter-spacing: 2px;
}

.navbar-light .navbar-toggler {
    border: none;
}

#navbar-custom-icon {
    font-size: 35px;
    color: #95ebe0;
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

#logo {
    width: 65px;
}

.nav-item {
    padding: 0px 5px;
}

.navbar-light .navbar-nav .nav-link, .dropdown-item, #navbarDropdownMenuLink {
    color: #a9bbc6;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #29d4bd;
}

.navbar-light .navbar-nav .nav-link:hover, #navbarDropdownMenuLink:hover {
    color: #29d4bd;
}

.dropdown-menu {
    min-width: 50px;
}

#social-links-nav {
    margin: 0;
}

#social-links-nav li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
    background: #95ebe0;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#social-links-nav li a i:hover {
    background: #29d4bd;
}

.list-inline-item:not(:last-child) {
    margin-right: 5px;
}

/*--------------------------------------------Home*/
/*---------------------------Home - Hero Image*/
.container-hero #hero-image-home {
    background: url("https://images.unsplash.com/photo-1510024161681-8a1f66ed1a25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80") no-repeat center center;
}

/*---------------------------Home - Calls to Action*/
/* .container-home-calls-to-action {
    width: 90%;
    margin: 0 auto;
} */

.call-to-action-circle-picture {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
}

.call-to-action-title {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #a9bbc6;
}

.btn-outline-primary {
	border: none;
    background-color: #fff;
    border-radius: 25px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
    background: #95ebe0;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.btn-outline-primary:hover {
    background: #29d4bd;
}

/*---------------------------Home - About*/
/* .container-home-about {
    width: 90%;
    margin: 0 auto;
} */

#home-about-sarah-picture {
    background: url("images/sarah-profile-picture.jpg") no-repeat center center;
}

/*---------------------------Home - Blog Posts*/
/* .container-home-blog-posts {
    width: 90%;
    margin: 0 auto;
} */

.blog-post-sm {
    border: solid 2px #29d4bd;
    background-color: #95ebe0;
    text-align: center;
    height: 200px;
    border-radius: 25px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.blog-post-sm a {
    color: #fff;
    text-transform: uppercase;
}

.blog-post-sm:hover {
    background-color: #29d4bd;
    font-weight: 500;
    text-decoration: none;
}

/*---------------------------Home - MQs*/
@media (min-width: 576px) {
    .container-home-calls-to-action {
        height: 40vh;
    }

    .container-home-calls-to-action .call-to-action {
        /* height: 150px; */
        border-radius: 75px;
    }

    .container-home-about {
        height: 40vh;
        width: 80%;
    }

    .container-home-blog-posts {
        height: 40vh;
    } 

    .container-home-blog-posts .blog-post-sm {
        /* height: 300px; */
        border-radius: 75px;
    }
}

/*--------------------------------------------Book - Group*/
/*---------------------------Hero Image*/
.container-hero #hero-image-group {
    background: url("https://images.unsplash.com/photo-1510024161681-8a1f66ed1a25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80") no-repeat center center;
}

/*---------------------------Calendar*/
.container-book-group-classes {
    width: 75%;
    border: solid 1px black;
    margin: 10px auto;
}
/*---------------------------Announcements*/
.container-book-group-announcements {
    width: 75%;
    border: solid 1px black;
    margin: 10px auto;
}

/*--------------------------------------------Book - 1-2-1*/
/*---------------------------Home - Hero Image*/
.container-hero #hero-image-121 {
    background: url("https://images.unsplash.com/photo-1510024161681-8a1f66ed1a25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80") no-repeat center center;
}

/*---------------------------Announcements*/
.container-book-121-announcements {
    width: 75%;
    border: solid 1px black;
    margin: 10px auto;
}

/*---------------------------Book - 1-2-1 - MQs*/
@media (min-width: 576px) {
    .container-book-121-contact {
        height: 80vh;
    }
}
/*--------------------------------------------Blog*/
/*---------------------------Hero Image*/
.container-hero #hero-image-blog {
    background: url("https://images.unsplash.com/photo-1510024161681-8a1f66ed1a25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80") no-repeat center center;
}

.container-blog-entry {
    width: 90%;
    margin: 0 auto;
}

/*---------------------------Blog Entries*/
#blog-entry-1-picture {
    background: url("images/sarah-profile-picture.jpg") no-repeat center center;
}

#blog-entry-2-picture {
    background: url("images/sarah-profile-picture.jpg") no-repeat center center;
}

#blog-entry-3-picture {
    background: url("images/sarah-profile-picture.jpg") no-repeat center center;
}

#blog-entry-4-picture {
    background: url("images/sarah-profile-picture.jpg") no-repeat center center;
}

#blog-entry-5-picture {
    background: url("images/sarah-profile-picture.jpg") no-repeat center center;
}

#blog-entry-6-picture {
    background: url("images/sarah-profile-picture.jpg") no-repeat center center;
}

/*--------------------------------------------Contact*/
/*---------------------------Contact Form*/
.container-hero #hero-image-contact {
    background: url("https://images.unsplash.com/photo-1510024161681-8a1f66ed1a25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80") no-repeat center center;
}

.form-contact-form {
    width: 75%;
    margin: 0px auto;
    padding: 1rem 0;
}

.form-control {
    border: solid 2px #95ebe0;
    letter-spacing: 1.5px;
    transition: none;
}

.form-control-message {
    height: 50vh;
}

.form-control:focus {
    border: solid 2.5px #29d4bd;
    box-shadow: none;
}

.form-control::-moz-placeholder {
  color: #a9bbc6;
  text-transform: uppercase;
}
.form-control:-ms-input-placeholder {
  color: #a9bbc6;
  text-transform: uppercase;
}
.form-control::-webkit-input-placeholder {
  color: #a9bbc6;
  text-transform: uppercase;
}

.contact-form-button {
    text-align: center;
}

.contact-form-button:hover {
    border: solid 2.5px #29d4bd;
}

/*---------------------------Contact Form - MQs*/
@media (min-width: 576px) {
    .form-contact-form {
        width: 432px;
    }

    .form-control-message {
    height: 25vh;
    }    
}

/*--------------------------------------------Footer*/
.container-footer {
    text-transform: uppercase;
    color: #fff;
    background-color: #95ebe0;
    font-size: 1rem;
    height: 115px;
    text-align: center;
    letter-spacing: 1px;
}

.container-footer div {
    line-height: 25px;
    padding: 0;
}

#social-links-footer {
    margin: 0;
}

#social-links-footer li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #95ebe0;
    border: solid 1px #95ebe0;
    background: #fff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#social-links-footer li a i:hover {
    color: #fff;
    border: solid 1px #fff;
    background: #95ebe0;
}

/*--------------------------------------------Media Queries*/
@media (min-width: 576px) {
    /* .container-hero, .hero-image, .hero-image-overlay {
        height: 80vh;
    } */

    .container-footer {
        height: 75px;
    }
}

@media (min-width: 768px) {
    .container-footer {
        height: 75px;
    }

    .nav-item {
        padding: 0px 15px;
    }
}

@media (min-width: 992px) {
    .nav-item {
        padding: 0px 25px;
    }
}